*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    font-family: 'Bubblegum sans', serif;
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
    
    
  }
  h2{
    
    font-family: Bubblegum sans, serif;
    font-size: 2rem;
    text-align: center;
    margin: 5rem 0;
  }
  p{
    font-family: Bubblegum sans, serif;
    font-size: 1.5rem;
    text-align: justify;
    margin: 5rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 2.5rem;
  }
  body{
    background-color: lightgray;
    min-width: 375px;
  }
#video{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 20px auto;
   border-radius: 20px;
  
}
#nav-bar{
    display: inline;
}
#home{
    margin-top: 10rem;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 20px auto;
   gap: 1rem;
}
#email{
    width: 350px;
    height: 30px;
}
#submit{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: black;
    color: beige;
    
}
#submit:hover{
    cursor: pointer;
    background-color: transparent;
    color: black;
}

footer{
    text-align: center;
    padding: 2rem;
}

  #header-img{
    width: 150px;
    height: 20px;
     
     
  }
  
  #header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e197bc;
    min-height: 70px;
  }
  
  nav ul{
    list-style-type: none;
    display: flex;
  }
  .nav-link{
    
    justify-content: space-between;
    margin-right: 30px;
  }
  
  li a{
    text-decoration: none;
    list-style: none;
    color: black;
  }
  a:hover{
    cursor: pointer;
    color: rgb(38, 14, 57);
   border-bottom: 2px solid;
   line-height: 1.2rem;
  }
  
  
  @media only screen and (min-width: 375px) and (max-width: 1440px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
      }
      #video{
        display: flex;
        justify-content: center;
        align-items: center;
       margin: 20px auto;
       border-radius: 20px;
       width: 350px;
    }
    body{
        background-color: lightgray;
        min-width: 375px;
      }
      
      #header{
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #e197bc;
        min-height: 70px;
      }
      
}

