*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1{
    font-family: 'Bubblegum sans', serif;
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
    
    
  }
  h2{
    
    font-family: Bubblegum sans, serif;
    font-size: 2rem;
    text-align: center;
    margin: 5rem 0;
  }
  p{
    font-family: Bubblegum sans, serif;
    font-size: 1.5rem;
    text-align: justify;
    margin: 5rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 2.5rem;
  }
  body{
    background-color: lightslategray;
  }
#video{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 20px auto;
   border-radius: 20px;
 
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 20px auto;
   gap: 1rem;
}
#email{
    width: 350px;
    height: 30px;
}
#submit{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: black;
    color: beige;
    
}






  #header-img{
    width: 150px;
    height: 20px;
     
     
  }
  /*#nav-bar ul{
  display: flex;
    justify-content: center;
    padding: 0;
    align-items: flex-end;
    margin-left: 600px;
  
  }*/
  
  
  
  li a{
    text-decoration: none;
    list-style: none;
    color: black;
  }
  a:hover{
    cursor: pointer;
    color: rgb(39, 202, 202);
   border-bottom: 2px solid;
   line-height: 1.5rem;
  }
  
  
  @media only screen and (min-width: 375px) and (max-width: 768px){
    body{
       
       box-sizing: none;
       
    }
    nav > ul {
        width: 35vw;
       
    }
}

